transformers==4.46.2
accelerate==0.34.0
datasets==2.20.0
hydra-core==1.3
hydra-colorlog
hydra-optuna-sweeper
hydra-joblib-launcher
torchmetrics
captum
wandb==0.17.4
molvs==0.1.1
selfies==2.1.1
PyTDC
pandarallel
grpcio
pyarrow
openpyxl
h5py
jupyterlab
ipywidgets
umap-learn
xgboost==1.0.2
torch
torchvision
safe-mol
psutil==6.0.0
py-cpuinfo==9.0.0
numpy
pandas
scikit-learn==1.2.0
scipy
rootutils
pre-commit
rich
pytest
sh
omegaconf
tqdm
pynvml==11.5.3
pickleshare
sentencepiece==0.2.0
trl
tabulate==0.9.0
pdb-tools
packaging==24.1
ninja
wheel
deepspeed==0.14.4
torchdata==0.8.0
multiprocess
pyscf
morfeus-ml
geometric
pyberny
wurlitzer
sqlalchemy
medchem
polars-u64-idx
lightning
evaluate
descriptastorus
pyscreener
git+https://github.com/aspuru-guzik-group/group-selfies.git
git+https://github.com/snu-lcbc/atom-in-SMILES.git
git+https://github.com/kjelljorner/polanyi.git
git+https://github.com/virtualzx-nad/geodesic-interpolate.git
git+https://github.com/insilicomedicine/fcd_torch.git
git+https://github.com/PatWalters/rd_filters.git